//- Buttons

.btn
  margin: 10px 0
  display: inline-block
  border-radius: 3px
  font-weight: $font-weight-bold
  text-align: center
  cursor: pointer
  padding: 8px 10px

  &.btn-primary
    background: $teal
    color: white

    &:hover
      background: darken($teal, 10%)

  &.btn-secondary
    background: $grey-med
    color: $grey-drk

    &:hover
      background: darken($grey-med, 10%)

  &.btn-small
    padding: 2px 5px
    font-size: 90%
