#settingsBtn
  text-align center
  cursor pointer
  i
    font-size 30px
.plugin-title
  font-size 30px
  margin-bottom 20px

.config-wrapper
  padding 20px

.plugins-list
  li
    opacity 1
    float left
    transition all 0.2s linear
    text-align left
    margin 10px
    display inline-block
    width 250px
    border 1px solid #C3C1C1
    background #EEEEEE
    height 120px
    position relative
    .panel_option, .state_option
      width 50%
      padding 7px
      label
        display block
        font-size 15px
        margin-bottom 4px
      select
        width 100%
        float left
        padding 5px
    .panel_option
      float left
    .state_option
      float right
      padding-left 25px
    h4
      cursor pointer
      padding-left 10px
      font-size 17px
      margin-bottom 10px
      input
        display none
      i
        margin-left 5px
      img
        width 25px
        position relative
        top 7px
        margin-right 1px
    .nodeCompliant
      position absolute
      cursor pointer
      top 5px
      right 5px
      width 25px
    .nodeCompliant.nodeCompliant_enable
      opacity 1
    .nodeCompliant.nodeCompliant_disable
      opacity 0.5
.pluginLoad
  opacity 0.5
