#settingsBtn
  text-align center
  cursor pointer
  i
    font-size 30px
.plugin-title
  font-size 30px
  margin-bottom 20px

.config-wrapper
  padding 20px
  text-align center
.machine
  width 70px
  position relative
  top 7px
  margin-right 15px
.plugins-list
  li
    opacity 1
    float left
    transition all 0.2s linear
    text-align left
    margin 10px
    display inline-block
    width 300px
    border 1px solid #C3C1C1
    background #EEEEEE
    height 150px
    padding 15px
    position relative
    .panel_option, .state_option
      width 50%
      padding 7px
      label
        display block
        font-size 15px
        margin-bottom 4px
      select
        width 100%
        float left
        padding 5px
    .panel_option
      float left
    .state_option
      float right
      padding-left 25px
    h4
      color black
      cursor pointer
      font-size 18px
      margin-bottom 15px
      input
        display none
      i
        margin-left 5px
      img
        height 25px
        width 25px
        position relative
        top 7px
        margin-right 10px
    .fa-arrows
      position absolute
      bottom 10px
      right 10px
      font-size 20px    
    .nodeCompliant
      position absolute
      cursor pointer
      top 20px
      right 10px
      width 25px
    .nodeCompliant.nodeCompliant_enable
      opacity 1
    .nodeCompliant.nodeCompliant_disable
      opacity 0.5
.pluginLoad
  opacity 0.5 !important
.calque
  position absolute
  width 100%
  height 100%
  background black
  z-index 312
  opacity 0.5
  display none
  top 0px
  left 0px
.search-config
  display inline-block
  float right
  position relative
  top 15px
.config-wrapper .search-config .fa-search
  float right
  cursor pointer
.config-wrapper .search-config input
  float right
  border none
  background-color #FFFFFF
  padding 7px
  position relative
  right 10px
  width 0px
  color white
  transition 0.2s linear all
.clear
  clear both  