// Main dashboard view styling

.dashboard
  min-width: 700px
  min-height: 350px
  padding-left: 200px // width of sidebar
  overflow-y: hidden

.dashboard-initial
  height: 100vh
  position:relative

  .get-started
    max-width: 300px
    padding: 30px
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%,-50%)
    border: $border-med
    border-radius: 10px
    text-align: center

.dashboard-plugins
  height: 100vh

  // Panel positions and default sizing
  .panel-top,
  .panel-bottom
    position: relative
    overflow: hidden !important
    height: 400px

  .panel-bottom
    margin-top: 8px // height of hsplitter

  // Tabs
  .tab-bar
    height: 30px
    background: $grey-light
    border-bottom: $border-med
    font-weight: $font-weight-bold

  .code-text
    font-family: 'Menlo', 'Consolas', 'Lucida Console', Courier, monospace;
    font-size: 12px;
    line-height: 1.5;
  

  .dashboard-button
    border : none;
    background-color: #DDD;
    border-radius: 3px; 
    color: #444;
    &:hover
      background-color: #BBB;	

  .dashboard-input
    padding: 0 10px;
    border: 1px solid #ddd;
    border-radius: 3px;  
    height: 30px;

	&:focus
      outline: none;
      border-color: #00b7c7;

  .tab
    height: 100%
    padding: 4px 10px
    position: relative
    display: block
    float: left

    &:not(.active)
      cursor: pointer
      opacity: .5

      &:hover
        opacity: .9

    &:not(.add)
      background: white
      border-right: $border-med

  // Close button styles, not used right now
  // .panel-top

  //   .tab
  //     padding-right: 25px

  //     .close
  //       position: absolute
  //       right: 8px
  //       top: 8px
  //       font-size: 11px
  //       color: #888
  //       cursor: pointer

  //       &:hover
  //         color: #444

  // Plugin container
  .plugin
    width: 100%
    height: calc(100% - 30px) // minus height of tab bar
    overflow: auto
    display: none
    
  .active
    display: block
    
  x-notify
    z-index: 1001;