
.login-container
  position: absolute
  left:0
  top: 0
  right: 0
  bottom: 0
  background-color: #3C1942
  z-index: 1000
  opacity : 1
  transition: opacity
  transition-duration: 700ms
  transition-delay: 200ms
  transition-timing: ease-out
  .message
    background-color: #DDD
    text-align:center
    max-width:300px
    padding: 30px
    padding-bottom: 40px
    margin: auto
    margin-top: calc(25% - 100px)
    .logo
      max-width: 100%
      max-height: 80px
      margin-bottom: 1em
      transition: transform
      transition-duration: 700ms
      transition-timing: ease-out
      transform: scale(1)
    h1
      font-size: 1em
      color: #6b2d81
    form
      width: 200px
      margin-left:auto
      margin-right: auto
      text-align: left
      input
        width: 100%
        margin-bottom: 10px
        border: 0
        padding: 10px
      button
        margin-top: 10px
        width: 200px
        background-color: #6b2d81
        color: white
        border:0
        padding: 10px