npm-debug.log
*.log
/plugins/vorlon/**/*.css
tsconfig.json
/Plugins/obj
**/node_modules
sync.bat
*.suo
/.vs/
bin/
**/control.css
sync.bat
Plugins/Vorlon/plugins/remoteDebugging.zip
.settings/launch.json
*.dat
Server/public/stylesheets/style.css
/Server/public/stylesheets/style.css
