@import '../globals/variables'
// Console plugin styling

.plugin-console
  padding-bottom: 10px
  font-family: $font-family-menlo
  font-size: 13px

  .logs-container
    height: calc(100% - 40px) // minus input height + 10px
    padding: 15px
    padding-bottom: 0
    overflow: auto

  .logs-list
    width: 100%

  .log
    margin-bottom: 3px
    margin-left: 30px
    position: relative

    &:before
      content: '>'
      position: absolute
      left: -30px
      top: 0
      font-size: 14px
      font-weight: $font-weight-bold
      color: $grey-med

  .logMessage
    color: $grey-drk

  .logWarning
    color: $orange

  .logError
    color: $red

  .logException
    color: $red

  .console-input
    width: calc(100% - 30px) // minus left & right margin
    height: 30px
    margin: 10px 15px 0
    padding: 0 10px
    border: $border-med
    border-radius: 3px
    font-family: $font-family-menlo
    font-size: 13px
    line-height: 1.2

    &:focus
      outline: none
      border-color: $teal
