@import '../globals/variables.styl'
// Modernizr plugin styling

.plugin-modernizr
  padding: 20px

  .modernizr-features-list
    width: 100%
    margin: 20px 0 30px

    th, td
      padding: 5px 10px
      text-align: left

    th
      background: $grey-light
      border-bottom: $border-med
      font-weight: $font-weight-bold

    td
      border-bottom: $border-light

    .modernizrFeatureSupported
      color: $green-bright

    .modernizrFeatureUnsupported
      color: $red
