extends layout

block content
  .row
    p To start using vorlon.js, you need to create a session.
    a#createSessionButton.btn.btn-default.btn-getsession(onclick='VORLON.DashboardManager.getSessionId()') Create Session
  
block scripts
  script(src='http://cdn.socket.io/socket.io-1.3.5.js')
  script(src='/vorlon.dashboardManager.js')