doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
  title Vorlonjs HTTP Proxy Error
  link(rel='stylesheet', href='/stylesheets/httpproxy.css')
  link(href='https://fonts.googleapis.com/css?family=Oswald:400' rel='stylesheet')
  link(href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300|Roboto:400,300' rel='stylesheet')
  script(src='/javascripts/jquery-2.1.1.min.js' type="text/javascript")
    body
  
  div.home
    div.top
      img.logo(src=baseURL + "/images/VorlonLogo_Smooth.svg", alt="Vorlon logo" )
    div.form
      div.message error
