doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')

    title Vorlon.js
    
    link(rel='stylesheet', href='/stylesheets/x-tag-components.css')
    link(rel='stylesheet', href='/stylesheets/jquery-ui.css')
    link(rel='stylesheet', href='/stylesheets/contextMenu.css')
    
    link(href='http://fonts.googleapis.com/css?family=Oswald:400' rel='stylesheet')
    link(href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300|Roboto:400,300' rel='stylesheet')

    link(rel='icon', type='image/png', href='/images/favicon.png')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/fonts/fontawesome/css/font-awesome.min.css')
  body

    block content

    script(src='/javascripts/jquery-2.1.1.min.js')
    
    block scripts
