// Variables


// Font Families
$font-family-georgia = Georgia, serif
$font-family-roboto = 'Roboto', Helvetica, Arial, sans-serif
$font-family-oswald = 'Oswald', Helvetica, Arial, sans-serif
$font-family-courier = 'Courier New', Courier, monospace
$font-family-menlo = 'Menlo', 'Consolas', 'Lucida Console', Courier, monospace


// Font Weights
$font-weight-normal = 300
$font-weight-bold = 400


// Colors

$vorlon-purple = #1d0c3d

$purple = #6b2d81
$purple-drk = #411748

$blue = #007ca7
$blue-drk = #0a567f

$yellow = #fee600
$yellow-drk = #ffcb05

$green = #a2c13b
$green-drk = #899c3a

$teal = #00616a
$red = #ed2424

$grey-drk = #444
$grey-med = #ccc
$grey-light = #eee

white(alpha)
  rgba(255,255,255,alpha)

black(alpha)
  rgba(0,0,0,alpha)

// For panel information

$orange = #ff9205
$green-bright = #52ba19

// Borders

$border-light = 1px solid #eee
$border-med = 1px solid #CAADD4

// Widths

$container-width = 1200px
$small-width = 600px
$medium-width = 900px

// Transforms & transitions

transition(args)
  transition: args

// Center content vertically

centerVert =
  position: absolute
  top: 50%
  transform: translateY(-50%)