.log
.vscode/
Scripts/**/*.js
Scripts/**/*.js.map
config/**/*.js
config/**/*.js.map
server.js

public/vorlon.dashboardManager.js
public/vorlon.dashboardManager.js.map
public/vorlon/**/*
public/stylesheets/**/*.css


Scripts/typings/vorlon/**/*.d.ts
public/stylesheets/style.css