section.dashboard-initial
  section.config-wrapper
    h2.plugin-title  
      img.machine(src=baseURL + "/images/machine.png")
      span Plugins available <em>(<span class="countPlugins">0</span>)</em> :
      div.search-config  
        i.fa.fa-search
        input(type="text")
    div.plugins-list-wrapper    
      ul.plugins-list
      div.clear
    div.clear
