section.dashboard-plugins-container
  section.dashboard-plugins
    section.panel-top#pluginsPaneTop
      header.tab-bar.cf#pluginsListPaneTop

    section.panel-bottom#pluginsPaneBottom
      header.tab-bar.cf#pluginsListPaneBottom
  section.dashboard-plugins-overlay
    div.message
      img.logo(src="/images/VorlonLogo_Smooth.svg")
      h3 To get started, you must add a reference to client script in the page of your website, like this :
      h4#scriptSrc &lt;script src=&quot;http://localhost:1337/vorlon.js&quot;&gt;&lt;/script&gt;
      h3 Once your page is loaded, the client will appear in the sidebar on the left.
      h3 Click on it to start inspecting your website.
