section.dashboard-initial
  section.config-wrapper
    h2.plugin-title Plugins available <em>(<span class="countPlugins">0</span>)</em> :
      div.search-config  
        i.fa.fa-search
        input(type="text")
    ul.plugins-list
