section.sidebar
  header.sidebar-header
    h1.logo Vorlon.js
    .session-info
      p Session ID: 
        span(data-hook='session-id') ab38dklf
      p Client ID: 
        span(data-hook='client-id')
  #clientsListPane.client-pane
    a#identify.btn.btn-primary(onclick='vorlonDashboard.identify()') Identify a client
    h2 Client List
    #clientsListPaneContent.client-list
    a(onclick='VORLON.DashboardManager.ResetDashboard()').btn.btn-secondary.btn-small.btn-reset Reset Dashboard
    if authenticated
      a#logout(href='/logout').btn.btn-secondary.btn-small.btn-reset logout
    a(onclick='VORLON.DashboardManager.ReloadClient()')#test.btn.btn-secondary1.btn-small.btn-reset Reload Client