section.sidebar
  header.sidebar-header
    h1.logo Vorlon.js
    .session-info
      p
        | Session ID: 
        span(data-hook='session-id')
      p
        | Client ID: 
        span(data-hook='client-id')
  #clientsListPane.client-pane
    a#identify.btn.btn-primary(onclick='vorlonDashboard.identify()',tabindex='0',role="button") Identify a client
    h2 Client List
    #clientsListPaneContent.client-list
    a.btn.btn-secondary.btn-small.btn-reset(onclick='VORLON.DashboardManager.ResetDashboard()', tabindex='0',role="button") Reset Dashboard
    if authenticated
      a#logout.btn.btn-secondary.btn-small.btn-reset(href='/logout', tabindex='0',role="button") logout
    a#reload.btn.btn-secondary.btn-small.btn-reset.hidden(onclick='VORLON.DashboardManager.ReloadClient()', tabindex='0',role="button") Reload Client
    p#vorlonVersion= "Version: " + version
  #settingsBtn(onclick='VORLON.DashboardManager.goConfig()')
    i.fa.fa-cogs(aria-hidden='true')