section.sidebar
  header.sidebar-header
    h1.logo Vorlon.js
    .session-info
      p Session ID: 
        span(data-hook='session-id') 
      p Client ID: 
        span(data-hook='client-id')
  #clientsListPane.client-pane
    a#identify.btn.btn-primary(onclick='vorlonDashboard.identify()',tabindex='0',role="button") Identify a client
    h2 Client List
    #clientsListPaneContent.client-list
    a(onclick='VORLON.DashboardManager.ResetDashboard()').btn.btn-secondary.btn-small.btn-reset(tabindex='0',role="button") Reset Dashboard
    if authenticated
      a#logout(href='/logout').btn.btn-secondary.btn-small.btn-reset(tabindex='0',role="button") logout
    a(onclick='VORLON.DashboardManager.ReloadClient()')#reload.btn.btn-secondary.btn-small.btn-reset.hidden(tabindex='0',role="button") Reload Client
    p#vorlonVersion= "Version: " + version
