<div class="styleLabel" contenteditable="false">font-size</div><div contenteditable="false" class="styleValue">18px</div>
<div class="styleLabel" contenteditable="false">width</div><div contenteditable="false" class="styleValue">200px</div><div class="styleButton">+</div>
