.plugin.plugin-dom-explorer(data-plugin='dom-explorer')
  #DOMExplorerContainer.dom-explorer-container
    .panel-left
      #treeView.tree-view
        include dom-explorer-tree
    .panel-right
      #styleView.style-view
        include dom-explorer-style
