.plugin.plugin-modernizr(data-plugin='modernizr')
  #ModernizrReportContainer.modernizr-container
    h2 CSS Features Detection
    table#cssFeaturesList.modernizr-features-list
      tr
        th Feature
        th Support level
      tr
        td Some feature that is nice
        td.modernizrFeatureSupported Supported
      tr
        td Some feature that is nice
        td.modernizrFeatureSupported Supported
      tr
        td Some feature that is nice
        td.modernizrFeatureSupported Supported
      tr
        td Some feature that is not nice
        td.modernizrFeatureUnsupported Not supported
    h2 HTML5 Features Detection
    table#htmlFeaturesList.modernizr-features-list
      tr
        th Feature
        th Support level
      tr
        td Some feature that is nice
        td.modernizrFeatureSupported Supported
      tr
        td Some feature that is not nice
        td.modernizrFeatureUnsupported Not supported
    h2 Miscellaneous
    table#miscFeaturesList.modernizr-features-list
      tr
        th Feature
        th Support level
      tr
        td Some feature that is nice
        td.modernizrFeatureSupported Supported
      tr
        td Some feature that is not nice
        td.modernizrFeatureUnsupported Not supported
    h2 Non Core
    table#nonCoreFeaturesList.modernizr-features-list
      tr
        th Feature
        th Support level
      tr
        td Some feature that is nice
        td.modernizrFeatureSupported Supported
      tr
        td Some feature that is not nice
        td.modernizrFeatureUnsupported Not supported
